/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0061f1a9;
}

header {
    background-color: #00205ae0;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 185, 241);
}

main {
    padding: 2rem;
}

/* Sección de contenido principal (dos columnas para resumen y más información) */
.contenido-principal {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* Estilo de las secciones */
section {
    background-color: #0e00d4;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección de galería de imágenes */
.galeria .imagenes-galeria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.galeria img {
    max-width: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

/* Testimonios */
.testimonios {
    background-color: #fcf80bda;
}

.testimonio {
    background-color: #bb7102d2;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #00796b;
}

/* Estadísticas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #00205ae0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5a5b9e;
    color: rgb(92, 66, 141);
}

tbody tr:nth-child(even) {
    background-color: #065dff73;
}

/* Pie de Página */
footer {
    background-color: #00205ae0;
    color: #624cb1;
    text-align: center;
    padding: 1rem;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .contenido-principal {
        flex-direction: column;
    }

    .galeria .imagenes-galeria {
        flex-direction: column;
    }
}